#contactSection {
    background-color: #c8c7bc;
    padding-bottom: 20%;
}

.contactTitle {
    font-size: 65px;
    text-align: center;
    letter-spacing: 5px;
    color: #c8c7bc;
    text-shadow: 
    0 0 5px black,
    0 0 50px #fff,
    0 0 20px black,
    0 0 20px black,
    0 0 70px black,
    0 0 70px #c8c7bc,
    0 0 70px #c8c7bc;
    font-family: 'Shadows Into Light', cursive;    
    padding-top: 4%;
}

.contactCard {
    width: 80%;
    margin: auto;
    text-align: center;
    -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
}

.contactIcon {
    margin-left: 1%;
    margin-right: 1%;
}


/* Portrait View */
@media (min-width: 315px) and (max-width: 450px) {
}

/* Landscape View */
@media (min-width: 568px) and (max-width: 745px) {}

/* Tablet View */
@media (min-width: 740px) and (max-width: 991px) {}

/* Desktop */
@media (min-width: 992px) {
    #contactSection {
        padding-bottom: 7%;
        margin: auto;
    }
    .contactTitle {
        font-size: 85px;
    }
    .contactCard {
        width: 30%;
        margin: auto;
        text-align: center;
    }
    .contactIcon {
        margin-left: 5%;
        margin-right: 5%;
    }



}