#contactSection {
    background-color: #c8c7bc;
}

.contactTitle {
    font-size: 40px;
    text-align: center;
    letter-spacing: 5px;
    color: #c8c7bc;
    text-shadow: 
    0 0 5px black,
    0 0 50px #fff,
    0 0 20px black,
    0 0 20px black,
    0 0 70px black,
    0 0 70px #c8c7bc,
    0 0 70px #c8c7bc;
    font-family: 'Carter One', cursive;
    padding-top: 4%;
}


/* Portrait View */
@media (min-width: 315px) and (max-width: 450px) {
}

/* Landscape View */
@media (min-width: 568px) and (max-width: 745px) {}

/* Tablet View */
@media (min-width: 740px) and (max-width: 991px) {}

/* Desktop */
@media (min-width: 992px) {

    .contactTitle {
        font-size: 65px;
    }


}