#servicesSection {
    background-color: #c8c7bc;
    font-family: 'Ysabeau SC', sans-serif;
}

#servicesDetails {
    margin-top: 15%;
    text-align: center;
}

.servicesTitle {
    text-align: center;
    font-size: 65px;
    letter-spacing: 5px;
    color: #c8c7bc;
    text-shadow:
        0 0 5px black,
        0 0 50px #fff,
        0 0 20px black,
        0 0 20px black,
        0 0 70px black,
        0 0 70px #c8c7bc,
        0 0 70px #c8c7bc;
        font-family: 'Shadows Into Light', cursive;
     padding-top: 4%;
}

.servicesHeadlineText {
    text-align: center;
    font-size: 14px;
    margin-bottom: 10%;
}

.servicesBoldHeader {
    font-size: 22px;
    text-align: center;
    font-weight: 900;
}

.servicesText {
    font-size: 14px;
    text-align: center;
}
  .servicesTextIcon {
        font-size: 18px;
        font-weight: 700;
        text-align: center;
    }

.serviceIcon {
    height: 125px;
    margin: auto;
    display: block;
    -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
}

.facilityIcon {
    height: 75px;
    margin: auto;
    display: block;
    -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
}

.servicesMidTitle {
    font-size: 35px;
    text-align: center;
    text-decoration: underline;
    font-family: 'Shadows Into Light', cursive;
}

#servicesOffering {
    margin-bottom: 10%;
    /* background-color: #322F2A; */
}

/* Portrait View */
@media (min-width: 315px) and (max-width: 450px) {}

/* Landscape View */
@media (min-width: 568px) and (max-width: 745px) {}

/* Tablet View */
@media (min-width: 740px) and (max-width: 991px) {}

/* Desktop */
@media (min-width: 992px) {

    .servicesHeadlineText {
        text-align: center;
        font-size: 14px;
        margin-bottom: 5%;
        letter-spacing: 2px;
    }
    #servicesOffering {
        margin-bottom: 1%;
    }
    #servicesDetails {
        margin-top: 5%;
    }
    .servicesTitle{
        font-size: 85px;
    }

    .serviceIcon {
        height: 150px !important;
    }

    .servicesBoldHeader {
        font-size: 30px;
    }
    .servicesText {
        font-size: 20px;
    }
    .servicesTextIcon {
        font-size: 25px;
        font-weight: 700;
        text-align: center;
    }
    .servicesMidTitle {
        font-size: 45px;
    }
    .servicesHeadlineText {
        text-align: center;
        font-size: 25px;
        font-weight:500
    }
    .facilityIcon {
        height: 100px;
    }

}