#servicesSection {
    background-color: white;
    font-family: 'Josefin Sans', sans-serif;
}

#servicesDetails {
    margin-top: 15%;
    text-align: center;
}

.servicesTitle {
    text-align: center;
    font-size: 40px;
    letter-spacing: 5px;
    color: #689B41;
    margin-top: 15%;
    font-family: 'Montserrat', sans-serif;
    padding-top: 4%;
    text-decoration: underline;
    font-weight: 900;
    text-shadow: 1px 1px 2px black;
}

.servicesHeadlineText {
    text-align: center;
    font-size: 14px;
    margin-bottom: 10%;
    color: white;
    font-weight: 900;
}
.servicesBoldHeader {
    font-size: 22px;
    text-align: center;
    text-decoration: underline;
    color: #689B41;
    margin-top: 5%;
    text-shadow: 
    1px 1px 1px black
}

.servicesText {
    font-size: 14px;
    text-align: center;
}

.servicesTextIcon {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: white;
}

.serviceIcon {
    height: 125px;
    margin: auto;
    display: block;
    -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
    border: 3px solid black;
}

.facilityIcon {
    height: 75px;
    margin: auto;
    display: block;
    -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
}

.servicesMidTitle {
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

#servicesOffering {
    margin-bottom: 10%;
    margin-top: 6%;
}

#servicesMidOffering {
    height: 100%;
    background-color: #689B41;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.8);
    border-radius: 15px;
}

/* Portrait View */
@media (min-width: 315px) and (max-width: 450px) {}

/* Landscape View */
@media (min-width: 568px) and (max-width: 745px) {}

/* Tablet View */
@media (min-width: 740px) and (max-width: 991px) {}

/* Desktop */
@media (min-width: 992px) {

    .servicesHeadlineText {
        text-align: center;
        font-size: 14px;
        margin-bottom: 5%;
        letter-spacing: 2px;
    }

    #servicesOffering {
        margin-bottom: 1%;
    }

    #servicesDetails {
        margin-top: 3%
    }

    .servicesTitle {
        font-size: 85px;
        margin-top: 1%;
    }

    .serviceIcon {
        height: 200px !important;
        width: 250px;
        margin-bottom: 10%;
    }

    .servicesBoldHeader {
        font-size: 30px;
        color: #689B41;
    }

    .servicesText {
        font-size: 20px;
    }

    .servicesTextIcon {
        font-size: 25px;
        font-weight: 700;
        text-align: center;
    }


    .servicesMidTitle {
        font-size: 45px;
    }

    .servicesHeadlineText {
        text-align: center;
        font-size: 25px;
        font-weight: 500
    }

    .facilityIcon {
        height: 100px;
    }

}