#testimoniesSection {
    background-color: #689B41;
    margin-top: 10% !important;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.8);
    border-radius: 15px;
    width: 95%;
    margin: auto;
    padding: 5%;
}

.testimoniesTitle {
    font-size: 40px;
    text-align: center;
    letter-spacing: 5px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline;
    padding-top: 1%;
    font-weight: 900;
    text-shadow: 1px 1px 2px black;

}
.testimoniesBox {
    text-align: center;
    color: white;
}
.author {
    font-style: italic;
    font-weight: 900;
}
.dactWay {
    color: white;
    letter-spacing: 3px;
    font-family: 'Caveat', cursive;
    text-shadow: 
    0 0 5px black,
    0 0 5px #fff,
    0 0 5px #fff,
    0 0 3px #fff,
    0 0 5px #fff;
}
.quote {
    font-family: 'Ysabeau SC', sans-serif;
}

/* Portrait View */
@media (min-width: 315px) and (max-width: 450px) {}
  
  /* Landscape View */
  @media (min-width: 568px) and (max-width: 745px) {}
  
  /* Tablet View */
  @media (min-width: 740px) and (max-width: 991px) {}
  
  /* Desktop */
  @media (min-width: 992px) {

    #testimoniesSection {
        background-color: #689B41;
        margin-top: 10%;
    }
    
    .testimoniesTitle {
        font-size: 85px;
    }
    .quote {
        font-size: 25px;
    }
  }