#testimoniesSection {
    background-color: white;
}

.testimoniesTitle {
    font-size: 65px;
    text-align: center;
    letter-spacing: 5px;
    color: #689B41;
    text-shadow: 
    0 0 5px black,
    0 0 5px #fff,
    0 0 5px #fff,
    0 0 3px black,
    0 0 5px black,
    0 0 5px #689B41,
    0 0 5px #689B41;
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline;
     padding-top: 4%;

}
.testimoniesBox {
    text-align: center;
}
.author {
    font-style: italic;
    font-weight: 900;
}
.dactWay {
    color: #689B41;
    letter-spacing: 3px;
    font-family: 'Caveat', cursive;
    text-shadow:
    0 0 13px black,
    0 0 20px white,
}
.quote {
    font-family: 'Ysabeau SC', sans-serif;
}

/* Portrait View */
@media (min-width: 315px) and (max-width: 450px) {}
  
  /* Landscape View */
  @media (min-width: 568px) and (max-width: 745px) {}
  
  /* Tablet View */
  @media (min-width: 740px) and (max-width: 991px) {}
  
  /* Desktop */
  @media (min-width: 992px) {

    .testimoniesTitle {
        font-size: 85px;
    }
    .quote {
        font-size: 20px;
    }
  }