#navSection {
  margin: auto 0;
  width: 100%;
}

a {
  color: black !important;
  text-decoration: none;
  margin: 0% 2% 0% 2% !important;
  text-decoration: none !important;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15px;
}

.icon {
  width: 60px;
  height: 60px;
  float: left;
  margin: 3%;

}

.navLink {
    margin: 1%;
  }

.navTextSection {
    width: 100%;
    font-size: 18px;
  }


/* Portrait View */
@media (min-width: 315px) and (max-width: 450px) {

}

/* Landscape View */
@media (min-width: 568px) and (max-width: 745px) {}

/* Tablet View */
@media (min-width: 740px) and (max-width: 991px) {}

/* Desktop */
@media (min-width: 992px) {
  a {
    color: white !important;
    margin-left: 10%;
    font-size: 30px;
    text-shadow:
    0 0 10px white,
    0 0 2px white,
    0 0 2px white

  }

  a:hover {
    color: white;
  }

  a:visited {
    color: white;
  }

  #navSection {
    position: absolute;
  }

  .navTextSection {
    padding: 0%;;
    text-align: right;
    width: 100%;
    float: right !important;
  }

  .icon {
    display: none;
  }

}