#aboutSection {
  text-align: center;
  margin-top: -2%;
  background-color: white;
}

.aboutTitle {
  font-size: 65px;
  color: #689B41;
  text-shadow:
    0 0 5px black,
    0 0 5px #fff,
    0 0 5px #fff,
    0 0 3px black,
    0 0 5px black,
    0 0 5px #689B41,
    0 0 5px #689B41;
  letter-spacing: 5px;
  font-family: 'Montserrat', sans-serif;
  padding-top: 4%;
  text-decoration: underline;
}

.aboutText {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #689B41;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.8);
  border-radius: 15px;
  padding: 5%;
  color: white;
  font-size: 18px;
  width: 85% !important;
  margin: auto;
  margin-top: 5% !important;
}

.promiseTitle {
  text-align: center;
  font-size: 60px;
  font-family: 'Beau Rivage', cursive;
  color: #689B41;
  text-shadow:
    0 0 5px black,
    0 0 5px #fff,
    0 0 5px #fff,
    0 0 3px black,
    0 0 5px black,
    0 0 5px #689B41,
    0 0 5px #689B41;
    margin-top: 15%;
}

.promiseText {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}
.dactWay {
  color: black;
  letter-spacing: 3px;
  font-family: 'Caveat', cursive;
  text-shadow:
  0 0 13px black,
  0 0 20px white,
}

/* Portrait View */
@media (min-width: 315px) and (max-width: 450px) {
}

/* Landscape View */
@media (min-width: 568px) and (max-width: 745px) {}

/* Tablet View */
@media (min-width: 740px) and (max-width: 991px) {}

/* Desktop */
@media (min-width: 992px) {

  .aboutTitle {
    font-size: 85px;   
  }

  .promiseTitle {
    padding-top: 5%;
    font-size: 90px;
    letter-spacing: 12px;
    margin-top: 1%;
  }

  .aboutText {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    width: 80% !important;
    margin: auto;
  }

  .promiseText {
    font-size: 25px;
    width: 50% !important;
    padding-bottom: 3%;
    margin: auto;
    font-weight:500
    
  }
}