#aboutSection {
  color: black;
  text-align: center;
}

.aboutTitle {
  font-size: 60px;
}

.aboutText {
  text-align: center;
}
  
  /* Portrait View */
  @media (min-width: 315px) and (max-width: 450px) {

  }
  
  /* Landscape View */
  @media (min-width: 568px) and (max-width: 745px) {}
  
  /* Tablet View */
  @media (min-width: 740px) and (max-width: 991px) {}
  
  /* Desktop */
  @media (min-width: 992px) {
  
  } 